body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #171717;
}

h1 {
    color: #eee;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    color: #eee;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.tabcontent.active {
    display: block;
}
