body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #171717;
}

h1 {
    text-align: center;
    color: #fff;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    color: #fff;
}

input {
    width: 100%;
    padding: .375rem .75rem;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-top: .5rem;
}

button {
    padding: .375rem .75rem;
    cursor: pointer;
    border: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    display: inline-block;
    line-height: 1.5;
    border-radius: .25rem;
    border: 1px solid transparent;
    font-weight: 400;
}

button.red {
    color: #fff;
    background-color:#dc3545;
}

button.green {
    color: #fff;
    background-color:#28a745;
}

button.default {
    color: #fff;
    background-color: #007bff;
}

#ControlPanel {
    text-align: center;
}

#ControlPanel button {
    color: #fff;
    margin-top: 20px;
    font-size: 2.5rem;
    margin-left: 20px;
    margin-right: 20px;
}

#ConfigSettings button {
    margin-top: 20px;
    font-size: 2.5rem;
    margin-left: 20px;
    margin-right: 20px;
}

.tab {
    text-align: center;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #eee;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 1.0rem;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.tabcontent.active {
    display: block;
}
