<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raspi-Streamer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-dark@1.0.3/src/bootstrap-dark.min.css">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='assets/icons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='assets/icons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='assets/icons/favicon-16x16.png') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='assets/icons/safari-pinned-tab.svg') }}" color="#303030">
    <meta name="msapplication-TileColor" content="#303030">
    <meta name="theme-color" content="#303030">
    <style>
        .form-control[readonly] {
            background-color: transparent !important;
        }
        .btn-group-lg>.btn, .btn-lg {
            font-size: 1.75rem !important;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-4 mb-4 text-center">Raspi-Streamer</h1>

        <ul class="nav nav-pills nav-fill" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="control-panel-tab" data-toggle="tab" href="#ControlPanel" role="tab" aria-controls="ControlPanel" aria-selected="true">Control Panel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="config-settings-tab" data-toggle="tab" href="#ConfigSettings" role="tab" aria-controls="ConfigSettings" aria-selected="false">Config Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="system-tab" data-toggle="tab" href="#System" role="tab" aria-controls="System" aria-selected="false">System</a>
            </li>
        </ul>

        <div class="tab-content mt-4">
            <div class="tab-pane mb-4 fade show active" id="ControlPanel" role="tabpanel" aria-labelledby="control-panel-tab">
                <div class="text-center mt-4">
                    <button class="btn btn-lg btn-block btn-success mb-2 {% if not config['RTMP_SERVER'] %}d-none{% endif %}" id="stream_button" onclick="toggle('streaming')">Start Stream</button>
                </div>
                <div class="text-center mt-4">
                    <button class="btn btn-lg btn-block btn-success mb-2 {% if not config['STREAM_M3U8_URL'] %}d-none{% endif %}" id="stream_record_button" onclick="toggle('streaming_and_recording')">Start Stream & Record</button>
                </div>
                <div class="text-center mt-4">
                    <button class="btn btn-lg btn-block btn-success mb-2" id="record_button" onclick="toggle('recording')">Start Record</button>
                </div>
                <div class="text-center mt-4">
                    <button class="btn btn-lg btn-block btn-success mb-2 {% if not config['STREAM_FILE'] %}d-none{% endif %}" id="file_stream_button" onclick="toggle('file_streaming')">Start File Stream</button>
                </div>
            </div>
            <div class="tab-pane fade mb-4" id="ConfigSettings" role="tabpanel" aria-labelledby="config-settings-tab">
                <form id="configForm">
                    <div class="form-group">
                        <label for="STREAM_KEY">Stream Key:</label>
                        <input type="password" class="form-control form-control-lg" id="STREAM_KEY" name="STREAM_KEY" value="{{ config['STREAM_KEY'] }}" placeholder="abc123">
                        <span id="show_key" style="cursor:pointer;text-align:left;display:inline-block;width:70px;margin-top: 4px;font-size:smaller;vertical-align:top;" title="Show/Hide">show</span>
                    </div>
                    <div class="form-group">
                        <label for="RTMP_SERVER">RTMP Server:</label>
                        <input type="url" class="form-control form-control-lg" id="RTMP_SERVER" name="RTMP_SERVER" value="{{ config['RTMP_SERVER'] }}" placeholder="rtmp://stream.example.com:1935/live/">
                    </div>
                    <div class="form-group d-none">
                        <label for="ALSA_AUDIO_SOURCE">ALSA Audio Source:</label>
                        <input type="text" class="form-control form-control-lg" id="ALSA_AUDIO_SOURCE" name="ALSA_AUDIO_SOURCE" value="{{ config['ALSA_AUDIO_SOURCE'] }}" placeholder="hw:1,0">
                    </div>
                    <div class="form-group">
                        <label for="VIDEO_SIZE">Video Size:</label>
                        <select class="form-control form-control-lg" id="VIDEO_SIZE" name="VIDEO_SIZE">
                            <option value="1920x1080" {% if config['VIDEO_SIZE'] == '1920x1080' %}selected{% endif %}>1920x1080</option>
                            <option value="1280x720" {% if config['VIDEO_SIZE'] == '1280x720' %}selected{% endif %}>1280x720</option>
                            <option value="720x576" {% if config['VIDEO_SIZE'] == '720x576' %}selected{% endif %}>720x576</option>
                            <option value="640x480" {% if config['VIDEO_SIZE'] == '640x480' %}selected{% endif %}>640x480</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="FRAME_RATE">Frame Rate:</label>                      
                        <select class="form-control form-control-lg" id="FRAME_RATE" name="FRAME_RATE">
                            <option value="60" {% if config['FRAME_RATE'] == '60' %}selected{% endif %}>60</option>
                            <option value="50" {% if config['FRAME_RATE'] == '50' %}selected{% endif %}>50</option>
                            <option value="30" {% if config['FRAME_RATE'] == '30' %}selected{% endif %}>30</option>
                            <option value="25" {% if config['FRAME_RATE'] == '25' %}selected{% endif %}>25</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="BITRATE">Bitrate:</label>
                        <input type="number" min="500" max="6000" step="500" class="form-control form-control-lg" id="BITRATE" name="BITRATE" value="{{ config['BITRATE'] }}" placeholder="3000">
                    </div>
                    <div class="form-group">
                        <label for="KEYFRAME_INTERVAL">Keyframe Interval:</label>
                        <select class="form-control form-control-lg" id="KEYFRAME_INTERVAL" name="KEYFRAME_INTERVAL">
                            <option value="60" {% if config['KEYFRAME_INTERVAL'] == '60' %}selected{% endif %}>60</option>
                            <option value="30" {% if config['KEYFRAME_INTERVAL'] == '30' %}selected{% endif %}>30</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="AUDIO_OFFSET">Audio Offset:</label>
                        <input type="number" class="form-control form-control-lg" id="AUDIO_OFFSET" name="AUDIO_OFFSET" min="-1.0" max="1.0" step="0.1" value="{{ config['AUDIO_OFFSET'] }}">
                    </div>
                    <div class="form-group">
                        <label for="STREAM_M3U8_URL">HLS/M3U8 URL:</label>
                        <input type="url" class="form-control form-control-lg" id="STREAM_M3U8_URL" name="STREAM_M3U8_URL" value="{{ config['STREAM_M3U8_URL'] }}" placeholder="https://stream.example.com/hls/1/stream.m3u8">
                    </div>
                    <div class="form-group">
                        <label for="STREAM_FILE">File Stream Path:</label>
                        <input type="text" class="form-control form-control-lg" id="STREAM_FILE" name="STREAM_FILE" value="{{ config['STREAM_FILE'] }}" placeholder="/home/user/raspi-streamer/media/video.mp4">
                        <small>*.mp4 OR playlist.txt</small>
                    </div>
                    <div class="text-center mt-4 mb-5">
                        <button class="btn btn-lg btn-block btn-primary" type="submit">Update</button>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade mb-4" id="System" role="tabpanel" aria-labelledby="system-tab">
                <div class="form-group mt-4">
                    <label for="logTextarea">Log:</label>
                    <textarea class="form-control" id="logTextarea" name="logTextarea" rows="10" cols="80" readonly></textarea>
                </div>
                <div class="form-group mt-4">
                    <label for="logTextarea">System:</label>
                    <textarea class="form-control" id="systemTextarea" name="systemTextarea" rows="20" cols="80" readonly></textarea>
                </div>
                <div class="text-center mt-4">
                    <button class="btn btn-lg btn-danger" onclick="sendRequest('/restart')">Restart Service</button>
                </div>
                <div class="text-center mt-4">
                    <button class="btn btn-lg btn-block btn-danger" onclick="sendRequest('/reboot')">Reboot System</button>
                </div>
                <div class="text-center mt-4">
                    <button class="btn btn-lg btn-block btn-danger" onclick="sendRequest('/poweroff')">Power Off</button>
                </div>
            </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            fetch('/load_state')
                .then(response => response.json())
                .then(data => updateButtons(data))
                .catch(error => console.error('Error loading state:', error));
        });

        document.getElementById('configForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(event.target);
            const data = {};
            formData.forEach((value, key) => {
                data[key] = value;
            });
            fetch('/update_config', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: new URLSearchParams(data)
            }).then(response => response.json())
            .then(data => alert(data.message))
            .catch(error => console.error('Error:', error));
        });

        function sendRequest(endpoint) {
            fetch(endpoint, {
                method: 'POST'
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Failed to send request.');
            });
        }

        function toggle(action) {
            fetch('/toggle_' + action, {
                method: 'POST'
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to toggle ' + action);
                }
                return response.json();
            })
            .then(data => updateButtons(data))
            .catch(error => {
                console.error('Error:', error);
                alert('Failed to toggle ' + action + '.');
            });
        }

        document.getElementById("show_key").addEventListener("click", function (e) {
            if (document.getElementById("show_key").innerText === "hide") {
                document.getElementById("show_key").innerText = "show";
                document.getElementById("STREAM_KEY").setAttribute('type', 'password');
            } else {
                document.getElementById("show_key").innerText = "hide";
                document.getElementById("STREAM_KEY").setAttribute('type', 'text');
            }
        }, false);

        function updateButtons(state) {
            const buttons = {
                stream: document.getElementById('stream_button'),
                stream_record: document.getElementById('stream_record_button'),
                record: document.getElementById('record_button'),
                file_stream: document.getElementById('file_stream_button')
            };

            if (state.streaming) {
                buttons.stream.classList.remove('btn-success');
                buttons.stream.classList.add('btn-danger');
                buttons.stream.innerText = 'Stop Stream';
            } else {
                buttons.stream.classList.remove('btn-danger');
                buttons.stream.classList.add('btn-success');
                buttons.stream.innerText = 'Start Stream';
            }

            if (state.streaming_and_recording) {
                buttons.stream_record.classList.remove('btn-success');
                buttons.stream_record.classList.add('btn-danger');
                buttons.stream_record.innerText = 'Stop Stream & Record';
            } else {
                buttons.stream_record.classList.remove('btn-danger');
                buttons.stream_record.classList.add('btn-success');
                buttons.stream_record.innerText = 'Start Stream & Record';
            }

            if (state.recording) {
                buttons.record.classList.remove('btn-success');
                buttons.record.classList.add('btn-danger');
                buttons.record.innerText = 'Stop Record';
            } else {
                buttons.record.classList.remove('btn-danger');
                buttons.record.classList.add('btn-success');
                buttons.record.innerText = 'Start Record';
            }

            if (state.file_streaming) {
                buttons.file_stream.classList.remove('btn-success');
                buttons.file_stream.classList.add('btn-danger');
                buttons.file_stream.innerText = 'Stop File Stream';
            } else {
                buttons.file_stream.classList.remove('btn-danger');
                buttons.file_stream.classList.add('btn-success');
                buttons.file_stream.innerText = 'Start File Stream';
            }

            for (const buttonKey in buttons) {
                if (buttonKey !== 'stream_record' && state.streaming_and_recording) {
                    buttons[buttonKey].disabled = true;
                } else if (buttonKey !== 'stream' && state.streaming) {
                    buttons[buttonKey].disabled = true;
                } else if (buttonKey !== 'record' && state.recording) {
                    buttons[buttonKey].disabled = true;
                } else if (buttonKey !== 'file_stream' && state.file_streaming) {
                    buttons[buttonKey].disabled = true;
                } else {
                    buttons[buttonKey].disabled = false;
                }
            }
        }

        function updateLog() {
            fetch('/get_log')
                .then(response => response.json())
                .then(data => {
                    if (data.log) {
                        document.getElementById('logTextarea').value = data.log;
                        // Scroll to the bottom of the textarea
                        logTextarea.scrollTop = logTextarea.scrollHeight;
                    } else if (data.error) {
                        console.error('Error fetching log:', data.error);
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        // Update the log every 5 seconds
        setInterval(updateLog, 5000);

        function get_sys_info() {
            fetch('/get_sys_info')
                .then(response => response.json())
                .then(data => {
                    if (data.info) {
                        document.getElementById('systemTextarea').value = data.info;
                    } else if (data.error) {
                        console.error('Error:', data.error);
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        // Initial log fetch
        document.addEventListener("DOMContentLoaded", function() {
            updateLog();
            get_sys_info();
        });
    
        // Activate the default tab
        $('#defaultTab').tab('show');
    </script>
</body>
</html>