<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raspi-Streamer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-dark@1.0.3/src/bootstrap-dark.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-4 mb-4 text-center">Raspi-Streamer</h1>

        <ul class="nav nav-pills nav-fill" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="control-panel-tab" data-toggle="tab" href="#ControlPanel" role="tab" aria-controls="ControlPanel" aria-selected="true">Control Panel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="config-settings-tab" data-toggle="tab" href="#ConfigSettings" role="tab" aria-controls="ConfigSettings" aria-selected="false">Config Settings</a>
            </li>
        </ul>

        <div class="tab-content mt-4">
            <div class="tab-pane mb-4 fade show active" id="ControlPanel" role="tabpanel" aria-labelledby="control-panel-tab">
                <div class="text-center mt-4">
                    <button class="btn btn-lg btn-success mb-2" id="stream_button" onclick="toggle('stream')">Start Stream</button>
                </div>
                {% if config['STREAM_M3U8_URL'] %}
                <div class="text-center mt-4">
                    <button class="btn btn-lg btn-success mb-2" id="stream_record_button" onclick="toggle('stream_record')">Start Stream & Record</button>
                </div>
                {% endif %}
                <div class="text-center mt-4">
                    <button class="btn btn-lg btn-success mb-2" id="record_button" onclick="toggle('record')">Start Record</button>
                </div>
                {% if config['STREAM_FILE'] %}
                <div class="text-center mt-4">
                    <button class="btn btn-lg btn-success mb-2" id="file_stream_button" onclick="toggle('file_stream')">Start File Stream</button>
                </div>
                {% endif %}
            </div>
            <div class="tab-pane fade mb-4" id="ConfigSettings" role="tabpanel" aria-labelledby="config-settings-tab">
                <form id="configForm">
                    <div class="form-group">
                        <label for="STREAM_KEY">Stream Key:</label>
                        <input type="text" class="form-control form-control-lg" id="STREAM_KEY" name="STREAM_KEY" value="{{ config['STREAM_KEY'] }}" placeholder="abc123">
                    </div>
                    <div class="form-group">
                        <label for="RTMP_SERVER">RTMP Server:</label>
                        <input type="text" class="form-control form-control-lg" id="RTMP_SERVER" name="RTMP_SERVER" value="{{ config['RTMP_SERVER'] }}" placeholder="rtmp://192.168.0.40:1935/live/">
                    </div>
                    <div class="form-group">
                        <label for="ALSA_AUDIO_SOURCE">ALSA Audio Source:</label>
                        <input type="text" class="form-control form-control-lg" id="ALSA_AUDIO_SOURCE" name="ALSA_AUDIO_SOURCE" value="{{ config['ALSA_AUDIO_SOURCE'] }}" placeholder="hw:1,0">
                    </div>
                    <div class="form-group">
                        <label for="VIDEO_SIZE">Video Size:</label>
                        <input type="text" class="form-control form-control-lg" id="VIDEO_SIZE" name="VIDEO_SIZE" value="{{ config['VIDEO_SIZE'] }}" placeholder="1280x720">
                    </div>
                    <div class="form-group">
                        <label for="FRAME_RATE">Frame Rate:</label>
                        <input type="text" class="form-control form-control-lg" id="FRAME_RATE" name="FRAME_RATE" value="{{ config['FRAME_RATE'] }}" placeholder="30">
                    </div>
                    <div class="form-group">
                        <label for="BITRATE">Bitrate:</label>
                        <input type="text" class="form-control form-control-lg" id="BITRATE" name="BITRATE" value="{{ config['BITRATE'] }}" placeholder="3000">
                    </div>
                    <div class="form-group">
                        <label for="KEYFRAME_INTERVAL">Keyframe Interval:</label>
                        <input type="text" class="form-control form-control-lg" id="KEYFRAME_INTERVAL" name="KEYFRAME_INTERVAL" value="{{ config['KEYFRAME_INTERVAL'] }}" placeholder="60">
                    </div>
                    <div class="form-group">
                        <label for="AUDIO_OFFSET">Audio Offset:</label>
                        <input type="text" class="form-control form-control-lg" id="AUDIO_OFFSET" name="AUDIO_OFFSET" value="{{ config['AUDIO_OFFSET'] }}" placeholder="-0.8">
                    </div>
                    <div class="form-group">
                        <label for="STREAM_M3U8_URL">m3u8 URL:</label>
                        <input type="text" class="form-control form-control-lg" id="STREAM_M3U8_URL" name="STREAM_M3U8_URL" value="{{ config['STREAM_M3U8_URL'] }}" placeholder="https://stream.example.com/hls/1/stream.m3u8">
                    </div>
                    <div class="form-group">
                        <label for="STREAM_FILE">File Stream Path:</label>
                        <input type="text" class="form-control form-control-lg" id="STREAM_FILE" name="STREAM_FILE" value="{{ config['STREAM_FILE'] }}" placeholder="Enter STREAM_FILE path">
                    </div>
                    <div class="form-group">
                        <label for="logTextarea">Log:</label>
                        <textarea class="form-control" id="logTextarea" name="logTextarea" rows="10" cols="80" readonly></textarea>
                    </div>
                    <div class="text-center mt-4">
                        <button class="btn btn-lg btn-primary" type="submit">Update</button>
                    </div>
                </form>
                <div class="text-center mt-4">
                    <button class="btn btn-lg btn-danger" onclick="sendRequest('/restart')">Restart Service</button>
                </div>
                <div class="text-center mt-4">
                    <button class="btn btn-lg btn-danger" onclick="sendRequest('/reboot')">Reboot System</button>
                </div>
                <div class="text-center mt-4">
                    <button class="btn btn-lg btn-danger" onclick="sendRequest('/poweroff')">Power Off</button>
                </div>
            </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        document.getElementById('configForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(event.target);
            const data = {};
            formData.forEach((value, key) => {
                data[key] = value;
            });
            fetch('/update_config', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: new URLSearchParams(data)
            }).then(response => response.json())
            .then(data => alert(data.message))
            .catch(error => console.error('Error:', error));
        });
    
        function sendRequest(endpoint) {
            fetch(endpoint, { method: 'POST' })
                .then(response => response.json())
                .then(data => alert(data.message))
                .catch(error => console.error('Error:', error));
        }
    
        function toggle(type) {
            let button = document.getElementById(`${type}_button`);
            if (!button) {
                console.error(`Button with ID ${type}_button not found`);
                return;
            }
    
            let otherButtons = ['stream_button', 'stream_record_button', 'record_button', 'file_stream_button'].filter(id => id !== `${type}_button`);
            let startText = `Start ${getButtonLabel(type)}`;
            let stopText = `Stop ${getButtonLabel(type)}`;
    
            if (button.innerText === startText) {
                sendRequest(`/start_${type}`);
                button.innerText = stopText;
                otherButtons.forEach(id => document.getElementById(id).disabled = true);
            } else {
                sendRequest(`/stop_${type}`);
                button.innerText = startText;
                otherButtons.forEach(id => document.getElementById(id).disabled = false);
            }
    
            button.classList.toggle("btn-success");
            button.classList.toggle("btn-danger");
        }
    
        function getButtonLabel(type) {
            switch (type) {
                case 'stream': return 'Stream';
                case 'stream_record': return 'Stream & Record';
                case 'record': return 'Record';
                case 'file_stream': return 'File Stream';
                default: return '';
            }
        }
    
        function updateButtonLabels(state) {
            document.getElementById("stream_button").innerText = state.streaming ? "Stop Stream" : "Start Stream";
            document.getElementById("record_button").innerText = state.recording ? "Stop Record" : "Start Record";
            document.getElementById("file_stream_button").innerText = state.file_streaming ? "Stop File Stream" : "Start File Stream";
            document.getElementById("stream_record_button").innerText = state.streaming_and_recording ? "Stop Stream & Record" : "Start Stream & Record";
    
            let buttons = ['stream_button', 'stream_record_button', 'record_button', 'file_stream_button'];
            buttons.forEach(id => {
                let button = document.getElementById(id);
                if (button.innerText.startsWith("Stop")) {
                    button.classList.add("btn-danger");
                    button.classList.remove("btn-success");
                    buttons.filter(bid => bid !== id).forEach(bid => document.getElementById(bid).disabled = true);
                } else {
                    button.classList.add("btn-success");
                    button.classList.remove("btn-danger");
                    buttons.filter(bid => bid !== id).forEach(bid => document.getElementById(bid).disabled = false);
                }
            });
        }
    
        function fetchState() {
            fetch('/get_state')
                .then(response => response.json())
                .then(data => updateButtonLabels(data))
                .catch(error => console.error('Error fetching state:', error));
        }
    
        document.addEventListener("DOMContentLoaded", function() {
            fetchState();
        });

        function updateLog() {
        fetch('/get_log')
            .then(response => response.json())
            .then(data => {
                if (data.log) {
                    document.getElementById('logTextarea').value = data.log;
                } else if (data.error) {
                    console.error('Error fetching log:', data.error);
                }
            })
            .catch(error => console.error('Error:', error));
        }

        // Update the log every second
        setInterval(updateLog, 1000);

        // Initial log fetch
        document.addEventListener("DOMContentLoaded", function() {
            updateLog();
        });
    
        // Activate the default tab
        $('#defaultTab').tab('show');
    </script>    
</body>
</html>
